/* 16px - 1rem */
html,
body {
   font-size: 62.5%;
   font-family: 'Roboto Condensed', sans-serif;
   font-weight: normal;
}

img {

   width: 100%;
   height: 100%;
   object-fit: contain;
}

.ul {
   padding-right: 0;
}

ul>li {
   list-style: none;
}

.container {
   width: 120rem;
   margin: 0 auto;
}

.header {
   background: linear-gradient(269.91deg, rgba(46, 49, 146, 0.7) 0%, rgba(212, 20, 90, 0.7) 98.16%);
   padding-top: 2.3rem;
   /*23px/10=2.3rem*/
   padding-bottom: 2.6rem;
   color: white;
   font-weight: 500;
   font-size: 1.5rem;
   line-height: 63%;
}

.header__telephone-img {
   width: 3.5rem;
   height: 3.5rem;
}

.header__maps-img {
   width: 3rem;
   height: 3rem;
}

.header__inst-img {
   width: 3rem;
   height: 3rem;
}

.header__wrap {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__inst-img,
.header__maps-img,
.heder__telephone-img {
   margin-right: 1.5rem;
}

.heder__telephone,
.header__maps,
.header__inst {
   display: flex;
   align-items: center;
}

.header__inst span {
   line-height: 100%;
}

.main-display__logo-img {
   width: 10rem;
   height: 6rem;
   margin-right: 1.1rem;
}

.main-display__logo {
   /* width: 10rem; */
   /* height: 6rem; */
   display: flex;
   align-items: center;
   /* margin-right: 1.1rem; */
}

.main-display__top {
   display: flex;
   align-items: center;
   justify-content: space-between;

}

.main-display {
   padding-top: 4.7rem;

}

.main-display__nav {
   display: flex;
   /* margin-left: 1rem; */
   /* margin-right: 1 rem; */
}

.main-display__nav li {
   /* margin-left: 1rem; */
   /* display: inline; */
   font-weight: 300;
   font-size: 1.8rem;
   line-height: 117%;
}

.main-display__nav li:not(:last-child) {
   margin-right: 2.5 rem;
}

.main-display__right {
   width: 53.3rem;
   height: 68.6rem;
}

.main-display__header {
   margin-bottom: 1rem;
   font-weight: 900;
   font-size: 5rem;
   line-height: 118%;
}

.mine-display__subheader {
   margin-bottom: 5rem;
   font-weight: 300;
   font-size: 2.4rem;
   line-height: 117%;
}

.main-display__button{
	
}


.main-display__center {
   display: flex;
   justify-content: space-between;
}

.main-display__title {
   font-style: italic;
   font-weight: 900;
   font-size: 3.6rem;
   line-height: 117%;
   /* line-height(42)/font-size(36)-1.16666 */
}


.footer__inst-img {
   width: 3.3rem;
   height: 3.3rem;
}

.fotter {
   position: relative;
}

.footer__wrap {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 17.2rem 12rem 8.4rem 12rem;
}

.footer__header {
   margin-bottom: 1rem;
   font-weight: 700;
   font-size: 1.4rem;
   line-height: 114%px;
   /* line-height/font-size=1.1428 */
}

.footer__decor-1 {
   position: absolute;
   left: 20%;
   top: 47%;
   transform: translate(-50% -50%);
   width: 11rem;
   height: 12.5rem;
   /* -webkit-transform: translate(-50% -50%);
   -moz-transform: translate(-50% -50%);
   -ms-transform: translate(-50% -50%);
   -o-transform: translate(-50% -50%); */
}

.footer__decor-2 {
   position: absolute;
   left: 77%;
   top: 47%;
   transform: translate(-50% -50%);
   width: 23.3rem;
   height: 26.4rem;
}

.footer__wrap li {
   font-weight: 300;
   font-size: 1.4rem;
   line-height: 114%;
}